<%doc>
Copyright 2012 NetApp, Inc. All Rights Reserved,
contribution by Weston Andros Adamson <dros@netapp.com>

This program is free software; you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation; either version 2 of the License, or (at your option) any later
version.
This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
</%doc>

<html>
 <head>
  <link rel="stylesheet" type="text/css" href="${report.cssfile}"></link>
  <script type="text/javascript" src="${report.rptset.jqueryurl}"></script>
  <script type="text/javascript" src="script.js"></script>
  <title>NFSometer: ${report.title}</title>
 </head>
 <body>

  <div class="report_header">
   <div class="nfsometer_title">nfsometer <h1>${report.title}</h1>
   </div>
  </div>

  <div class="content">
   <table class="toc_and_info"><tr>
    <td> ${report.toc.html()} </td>
    <td> ${report.report_info.html()} </td>
   </tr></table>

% for w in report.widgets:
    ${w.html()}
% endfor
  </div>

 </body>
</html>
