<%doc>
Copyright 2012 NetApp, Inc. All Rights Reserved,
contribution by Weston Andros Adamson <dros@netapp.com>

This program is free software; you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation; either version 2 of the License, or (at your option) any later
version.
This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
</%doc>

<div class="dataset_table">
 <table class="${table.classes()}">

 % if len(table.keys) > 1 and not table.noheader:
  <tr>
   % if not table.nolabels:
    <th></th>
   % endif

   % for k in table.keys:
   <th class="label">${table.formatted_keys[k]}</th>
   % endfor
  </tr>
 % endif

  % for g in table.groups:
  <tr>
   % if not table.nolabels:
    <td class="label">
     ${table.formatted_groups[g]}
    </td>
   % endif

   % for k in table.keys:
   ${table.formatted_cells[(g, k)]}
   % endfor

  </tr>
  % endfor
 </table>
</div>
