<%doc>
Copyright 2012 NetApp, Inc. All Rights Reserved,
contribution by Weston Andros Adamson <dros@netapp.com>

This program is free software; you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation; either version 2 of the License, or (at your option) any later
version.
This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
</%doc>

<div class="toc">
 <h3><a href="index.html">Report Index</a></h3>
 <br>
 <h3>Contents:</h3>
  <ul class="toc">
  % for child in node.children:
   ${child.html()}
  % endfor
  </ul>
</div>
